<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis:war exploded">
    <output-path>$PROJECT_DIR$/target/MyBatis</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.2.8" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.34" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MyBatis/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="MyBatis/web/Web" />
    </root>
  </artifact>
</component>